<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="lc-block pasajero">
                <div class="lc-block-border">
                    <div class="block-titulo text-center">
                        <h3>PASAJERO 2 de 2</h3>
                        <p>Adulto</p>
                    </div>



                    <div class="row">
                        <div class="col-4">
                            <div class="has-float-label">
                                <input class="form-control" id="nacionalidad-2" type="text" placeholder="Nacionalidad" />
                                <label for="nacionalidad-2">Nacionalidad</label>
                                <span class="focus-border"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>